.row {
	display: flex;
	flex-warp: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}
.article {
    font-size: 1vw;
    text-align: left;
    flex-flow: row wrap;
    inline-size: 50%;
    overflow: wrap;
    float: left;
    position: relative;
    left: 25%;
}
.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}
code {
    background: #2F3136;
    color: white;
    font-family: monospace;
}
footer {
    position: fixed;
    bottom: 0;
    left: 25%;
}
