<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <meta property="og:title" content="lajp.fi">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://lajp.fi">
        <meta property="og:image" content="https://lajp.fi/static/locu.png">
        <meta property="og:description" content="Personal website of Luukas Pörtfors">
    </head>
    </head>
    <body>
        <div class="flex-container">
            <div class="article">
                <p><a href="/">Home</a> <a href="/blog">Blog</a></p>
                <hr>
                {% if page.published_date %}
                  <p><em>Published on: {{ page.published_date | date: "%B %d, %Y" }}</em></p>
                {% endif %}
                {{ page.content }}
            </div>
            <div>
                <footer>
                    <p>Contact me via <a href="mailto:lajp@iki.fi">email</a>. <a href="/pgp.txt">My Pubkey</a>. <code>FP: 24E8 E4CC 0295 F4ED B9E0  B4A6 C913 9B8D EA65 BD82</code></p>
                    <p>The source code of this website is available for reading <a href="https://github.com/lajp/lajp.fi">here</a>.</p>
                </footer>
            </div>
        </div>
    </body>
</html>
